/*@media (min-width:800px){
    body{
        width: 700px;
        margin: 2px auto;
    }
}
*/*{
    margin:0px;
    padding: 0px;
    border: 0px;
    font-family:YouYuan;
    font-weight: 1em;
}
body{
    text-align: center;
    background:#ffffff;
}
a{
    color: red;
    text-decoration: none;
}
p{
   text-align:left;
    padding: 0.1rem 0.3rem;
    text-indent: 2em;
}
section{
    text-align:center;
    line-height: 1.6rem;
    letter-spacing: 0.13rem;
    padding: 0.5rem 0rem 0.7rem 0rem;
    /*    box-shadow: 0px 0px 3px black;
*/
    margin: 0.4em 0.2em 0.8em 0.2em;
    border-radius: 0.5rem;
    background: white;
}
img{
    width:300px;
    border-radius: 0.3rem;
    margin:0.2rem auto;
}
#headimg{
    border-radius: 50%;
    width: 30px;
    align-self: center;
}
table{
    width: 99% ;
    margin: 2px auto;
    text-align: center;
    font-size: 0.9rem;
  border-radius: 1.5rem;
}
table tr{
    background: aliceblue;
    color: rgb(39, 39, 39);
    margin: 1px;

}
tr:nth-of-type(2n+1){
    background: #23a0ff50;
    color: #000;
}
/* 专属 */
tr:nth-of-type(1){
    background: rgba(79, 117, 148, 0.623);
    color: #ffffff;
    text-shadow: #ff6d6d 0px 0px 3px;
  
}
table tr td{
    padding: 1.5px 2px;
    border: 0px;
    margin: 0px;
}
input{
    background: rgba(171, 162, 171, 0.45);
    border:none;
    color:rgba(255, 111, 111, 0.856);
    height: 20px;
    border-radius: 5px;
    padding: 2px 5px;
}

input[type*="radio"]{
    width: 18px;
    margin-right: 10px;
    margin-left: 28px;
}
input[type*="submit"]{
    margin: 5px;  
    width : auto;
    background: rgb(157, 207, 215,0.3);
    color:rgba(3, 0, 0, 0.856);
    height: auto;
    border: 1px solid ;
    border-radius: 6px;
    padding: 2px 5px;
    font-size: 100%;
}



 
                .showGoods{
                    margin: 0.1rem;
                    margin-top: 0.5rem;
                    display: inline-block;
                    width: 9rem;
                    text-align: center;
                    border: 1px black solid;
                    padding: 0rem 0rem 0.2rem 0rem;
                    border-radius: 0.5rem;
                    box-shadow: 0rem 0rem 0.2rem;
                }
                .showGoods .top{
                    display: block;
                    background: rgba(171, 162, 171, 0.45);
                    border-radius: 0.6rem;
                    padding: 0.2rem;
                    font-size: 1.1rem;
                    font-family: 楷体;
                    border-bottom-left-radius: 0px;
                    border-bottom-right-radius: 0px;
                    font-weight: 700;
                }
                .showGoods .desc{
                    display: block;
                    padding: 0.3rem 0.5rem;
                    text-align: left;
                    font-size: 0.8rem;
                }
                input[type=number]{
                    width: 3.5rem;
                }
                input[type=button]{
                    width:1.3rem;
                }
                input[type=file]{
                    height: 1.8rem;
                    padding-bottom: 1.6rem;
                }