/* @media (min-width:800px){
    body{
        width: 700px;
        margin: 2px auto;
    }
} */
*{
    margin:0px;
    padding: 0px;
    border: 0px;
    font-family:YouYuan;
    font-weight: 1em;
}
body{
    text-align: center;
    background:#eeffee;
}
p{
   text-align:left;
    padding: 0.1rem 0.3rem;
    text-indent: 2em;
}
section{
text-align:center;
    line-height: 1.6rem;
    letter-spacing: 0.13rem;
    padding: 0.5rem 0rem 0.7rem 0rem;
    box-shadow: 0px 0px 3px blue;
    margin: 0.1em 0.2em 0.4em 0.2em;
    border-radius: 0.5rem;
    background: white;
}
img{
    width:300px;
    border-radius: 0.3rem;
    margin:0.2rem auto;
}
#headimg{
    border-radius: 50%;
    width: 30px;
    align-self: center;
}
table{
    width: 99% ;
    margin: 2px auto;
    text-align: center;
    font-size: 0.9rem;
  border-radius: 1.5rem;
}
table tr{
    background: aliceblue;
    color: rgb(39, 39, 39);
}
/* 专属 */
tr:nth-of-type(1){
    background: rgba(79, 117, 148, 0.623);
    color: #ffffff;
    text-shadow: #ff6d6d 0px 0px 3px;
  
}
table tr td{
    padding: 2px 3px;
    border: 0px;
}
input{
    background: rgba(171, 162, 171, 0.45);
    color:rgba(255, 111, 111, 0.856);
    height: 20px;
    border-radius: 5px;
    padding: 2px 5px;
}
td input{
    width: 95%;
}
input[type*="submit"]{
    width : auto;
    background: rgb(227, 247, 255);
    color:rgba(3, 0, 0, 0.856);
    height: auto;
    border-radius: 5px;
    padding: 2px 5px;
    font-size: 110%;
}
input[type*="radio"]{
    width: 18px;
    margin-right: 10px;
    margin-left: 28px;
}
a{
    color: red;
    text-decoration: none;
}
